body {
   margin: 5px;
   padding: 5px;
   line-height: 1.15;
}

h1, h2, h3 {
   font-weight: bold;
   margin: 15px 0px;
}

h1 {
   font-size: x-large;
   text-align: center;
}

ul li {
   margin-left: 25px;
   list-style-type: upper-roman;
}

nav {
   text-align: center;
   margin-bottom: 20px;
}

nav li {
   background-color: aqua;
   border: 2px solid black;
   border-radius: 25px;
   display: inline-block;
   padding: 10px;
   width: 15%;
   margin: 10px 10px 0px 0px;
   text-align: center;
}

nav li a {
   text-decoration: none;
   color: black;
   font-weight: bold;
}

main .gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 50%;
   margin:0 auto;
}

main .gallery img {
   width: 30%; 
   box-sizing: border-box;
   padding: 15px;
   border: 6px dashed green;
   margin: 15px;
}

main .gallery img:nth-child(odd) {
   clear: both; 
}

main .gallery img:last-child {
   width: 60%; 
   margin-left: auto;
   margin-right: auto;
}

header img {
   width: 100%;
   height: 300px;
   object-fit: cover;
}

p {
   line-height: 2;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: darkslategray;
   background-color: bisque;
   margin-bottom: 10px;
   text-align: center;
}
